/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
a{
	color: #555;
}
header li{
	list-style: none;
	font-size: 19px;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: 400;
	padding-bottom: 7px;
	padding-top: 35px;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-ms-transition-duration: .3s;
	transition-duration: .3s;
}
header li:hover{
	border-bottom: 4px solid #e66060;
}
header{
	max-width: 100% !important;
	height: 100px;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.72);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.72);
	position: fixed;
	top: 0px;
	z-index: 999;
	background: white;

}
#hero{
	background: url(../img/bg.jpg)  50% 0 repeat fixed; min-height: 1000px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      margin-top: 90px;
}
#hero-container{
	position: relative;
	margin-left: 15%;
	width: 50%;
	padding-top: 9%;
}
.welcome-title{
	position: relative;
	margin-left: 10%;
	line-height: 0em;
	font-family: 'Days One', sans-serif;
	font-size: 65px;
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               -webkit-font-smoothing: antialiased;
}
.welcome-title-sub{
	position: relative;
	
	margin-left: 10%;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 35px;
	line-height: 60px;
	color: #fff;
}
.welcome-title-slug{
	position: relative;

	margin-left: 10%;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	line-height: 60px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 5%;
}
.font-inc{
	font-size: 60px;
}
.more-button{
	color: rgba(255,255,255,.7) !important;
padding: 10px 15px 10px 15px;
border: 2px solid rgba(255,255,255,.7);
margin-left: 10%;
}
#about{
	background: url(../img/print.jpg)  50% 0 repeat fixed; min-height: 1000px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      overflow-x:hidden; 
}
.about-title{
	font-family: 'Days One', sans-serif;
	font-size: 75px;
	color: #fff;
	position: relative;
	margin-left: -60%;
	top: 25%;
	-webkit-font-smoothing: antialiased;
	
}
.about-content{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-size: 25px;
	color: #d7d7d7 !important;
	line-height: 40px;
	width: 50%;
	margin-left:225%; 
	margin-top: 20%;
}
.service-title{
	font-family: 'Days One', sans-serif;
	font-size: 50px;
	color: #74747f;
	position: relative;
	text-align: center;
	margin-top:18%;
	-webkit-font-smoothing: antialiased;
}
#services{
	background: #fff; min-height: 1000px;
      width: 100%;
      overflow-x:hidden; 
}
.service-content, .service-content p{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-size: 24px;
	color: #555 !important;
	line-height: 40px;
	opacity: 0;
	margin-top:3%;
}
.read-more-but{
	font-weight: bold;
color: #242121 !important;
top: 15px;
position: relative;
margin-left: 2%;
}
.serve-three{
	margin-top: 2%;
}
.serve-three h3{
	text-align: center;
	color:  #fff;
}
.serve-three p{
	color:rgba(255,255,255,.7);
	text-align: center;
	padding-top: 20px;
}
.serve-three a{
	color:#222;
	text-align: center;
	padding-top: 20px;
	margin-left: 40%;
	font-weight: bolder;
}
.three-title{
	font-family: 'Days One', sans-serif;
	font-size: 45px;
	color: #eef;
	position: relative;
	text-align: center;
	margin-top:20%;
	-webkit-font-smoothing: antialiased;
}
/*image overlay*/

#three{
	background: url(../img/bgblur.jpg)  50% 0 repeat fixed; min-height: 1000px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      overflow-x:hidden; 
      position: relative;
}
#contact{
	background: #353535;
      width: 100%;
      overflow-x:hidden; 
      position: relative;
}
#contact form{
	padding-top: 10%;
	margin-bottom: 7%;
}
.contact-title{
	text-align: center;
	color: rgb(163, 163, 163);
margin-bottom: 7%;
}
.sub_but{
	margin-left: 0;
	color: white;
}
.con-content{
	color: #fff;
	font-size: 17px;
	line-height: 35px;
	margin-bottom: 40px;
}